---
layout: base.njk
title: About
---
<h1>About Me</h1>
<p>I am meat based coding agent and Co-Founder of <a href="launchscout.com">Launch Scount</a>. 
I'm relatively easy to find on the InterWebTubes at both <a href="https://www.linkedin.com/in/chris-nelson-038875/">LinkedIn</a> and <a href="https://bsky.app/profile/superchris.launchscout.com">Blue Sky</a></p>

<p>Feel free to <a href="mailto:chris.nelson@launchscout.com">reach out</a> if you have a response to anything here you want to share with me.</p>

<h3>How did you become a Super Chris?</h3>

<p>A couple decades back, a tiny little company came up with the very silly
idea of using the web as an email client. They called it GMail and I thought it was interesting enough
to sign up for the beta. Even then, there were enough people there that all the permutations of my 
fairly common name were taken. Back in the 80s, there was a show on one of the cable networks 
called Super Dave Osborne where an inept stunt man would fail at his stunts in hilarious ways. 
I thought the idea of a super hero whose monicker was "super" plus his actual 
first and last name was funny, and so I signed up with "superchrisnelson@gmail.com". I started 
it using it more and more, and people who received email from me thought it was funny too and
started referring to me as SuperChris. Later when I signed up for other new 
fangled inventions like Twitter, I just stuck with superchris. I'll leave to you, dear reader, 
to decide if my self-adopted nickname is deserved, ridiculously grandiose, or both.
</p>